$interactive: "600"$interactive-600,
"500"$interactive-500,
"400"$interactive-400;

@mixin button-base($bg-color-base, $bg-color-hover, $bg-color-active) {

  display: block;
  background: transparent;
  font-family: inherit;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: .5rem;
  background-color: $bg-color-base;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  transition: .1s;
  padding: 1em 0.5em;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  &.is-icon {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: $bg-color-hover;
  }

  &:active {
    background-color: $bg-color-active;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $background-tertiary;
    color: $base-tertiary;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
  }
}

.button {
  & {
    @include button-base($interactive-500, $interactive-400, $interactive-600);
    color: $background-primary;
  }

  &.is-error {
    @include button-base($error-500, $error-400, $error-600);
    color: $background-primary;
  }

  &.is-success {
    @include button-base($success-500, $success-400, $success-600);
    color: $background-primary;
  }

  &.is-warning {
    @include button-base($warning-500, $warning-400, $warning-600);
    color: $base-secondary;

    &:active {
      color: $background-primary;
    }
  }

  &.is-outlined {
    @include button-base($background-primary, $background-tertiary, $background-quarternary);
    color: $base-secondary;

  }
}

.btn-notification {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $interactive-500;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.arrow {
  width: 5px;
  height: 8px;
  background: url("/images/Vector.svg");
}

.arrow_6-12 {
  width: 6px;
  height: 12px;
  background: url("/images/Vector_6-12.svg");
}

.arrow-reverse_6-12 {
  width: 6px;
  height: 12px;
  background: url("/images/Vector-reverse_6-12.svg");
}
