.diagram {
  width: 19.75em;
  height: 19.75em;
  border-radius: 50%;
  background: $success-300;
  position: relative;
  overflow: hidden;
}

.diagram::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
  opacity: 1;
}

.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
}

.diagram .piece::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
}

.diagram .piece.left {
  transform: rotate(344deg);
  z-index: 2;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.left {
  //transform: rotate(180deg);
  transform: rotate(00deg);
}

.diagram .piece.right {
  //transform: rotate(180deg);
  transform: rotate(0deg);
  z-index: 1;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.right {
  transform: rotate(360deg);
}

.diagram .left::before {
  background: $background-tertiary;
}

.diagram.over_50 .left::before {
  background: $success-300;
}

.diagram .right::before {
  background: $background-tertiary;
}

.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .diagram .text b {
//   font-size: 72px;
// }

// .diagram .text span {
//   font-size: 16px;
//   display: block;
// }
