@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "colors";
@import "button";
@import "typography";
@import "circleProgressbar";


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.line {
  margin: auto;
  padding: 0;
  width: calc(100% - 2 * 2em);
  border-top: 1px solid #f4f4f4;
}
