h1,
h2,
h3,
h4,
h5,
.subheader,
.subtitle,
.body-text,
p,
h6,
.caption {
  padding: 0;
  margin: 0;

  &.is-tertiary {
    color: $base-tertiary;
  }

  &.is-secondary {
    color: $base-secondary;
  }
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.4px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.32px;
}

.subheader,
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.subtitle,
h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
}

p,
.body-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

h6,
.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;

}

.hashtag {
  color: $interactive-500;
}
