<template>
  <div class="diagram progress">
    <div class="piece left"></div>
    <div class="piece right"></div>
    <div class="text">
      <div>
        <h1 style="margin-bottom: -8px">60%</h1>
        <div class="subheader">Общий прогресс</div>
        <div class="subtitle is-tertiary">До 30 Апреля</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>
<style scoped>
</style>