<template>
  <div>
    <div class="nav">
      <div class="logo"></div>
      <div class="btn-section">
        <button
          class="button is-icon img"
          style="background: #fff; display: flex; align-items: center"
        >
          <div class="button-img">
            <img src="/images/chat_bubble_outline.png" alt="" />
          </div>
        </button>
        <button
          class="button is-icon"
          @click="openNotifications"
          style="background: url('/images/bell.svg') no-repeat center"
        >
          <div class="btn-notification" v-if="num_of_notifications > 0">
            {{ num_of_notifications }}
          </div>
        </button>
        <button
          class="button is-icon"
          style="background: url('/images/settings.svg') no-repeat center"
        ></button>
        <button
          class="button is-icon"
          style="background: url('/images/nav_icon.jpg') no-repeat center"
        ></button>
        <!-- <button
          v-for="button in buttons"
          :key="button.id"
          :class="button.class"
          :style="button.style"
        >
          <div class="btn-notification" v-if="button.num_of_notifications > 0">
            {{ button.num_of_notifications }}
          </div>
        </button> -->
      </div>
    </div>
    <div class="line"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num_of_notifications: 3,
      buttons: [
        {
          name: "settings",
          class: "button is-icon",
          style: {
            background: "url('/images/bell.svg') no-repeat center",
          },
          num_of_notifications: 0,
        },
        {
          name: "notifications",
          class: "button is-icon",
          style: {
            background: "url('/images/bell.svg') no-repeat center",
          },
          num_of_notifications: 0,
        },
        {
          name: "",
          class: "button is-icon",
          style: {
            background: "url('/images/settings.svg') no-repeat center",
          },
        },
        {
          name: "",
          class: "button is-icon",
          style: {
            background: "url('/images/nav_icon.jpg') no-repeat center",
          },
        },
      ],
    };
  },
  mounted: function () {
    let name = "notifications";
    this.buttons
      .filter((e) => e.name == name)
      .map((e) => (e.num_of_notifications = 3));
  },
  methods: {
    addNotification: function () {
      let name = "notifications";
      this.buttons
        .filter((e) => e.name == name)
        .map((e) => (e.num_of_notifications += 1));
    },
    delNotification: function () {
      let name = "notifications";
      this.buttons
        .filter((e) => e.name == name)
        .map((e) => (e.num_of_notifications = 0));
    },
    openNotifications: function () {
      //console.log(this.$store.state.components.showNotification);
      this.$store.dispatch("components/OpenNotification");
    },
  },
};
</script>

<style  scoped>
.nav {
  display: flex;
  /* padding: 24px 32px; */
  padding: 1.5em 2em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.logo {
  background-image: url("/images/F.svg");
  width: 32px;
  height: 40px;
}
.btn-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  z-index: 10;
}

.button-img {
  width: 24px;
  height: 24px;
  position: relative;
}
.button-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
</style>