<template>
  <div class="container" :class="{ 'is-showing': isShowing }">
    <div class="header">
      <div class="header-title subheader"><b>Ваши уведомления</b></div>
    </div>
    <main class="main">
      <div
        v-for="notification in notifications"
        :key="notification.id"
        class="notification-item"
      >
        <div class="notification-icon" :style="notification.icon_style"></div>
        <div class="notification-item__title subheader is-tertiary">
          {{ notification.title }}
        </div>
        <div class="notification-item__text subheader">
          {{ notification.text }}
        </div>
        <div class="notification-item__time subheader is-tertiary">
          {{ notification.time }}
        </div>
      </div>
    </main>
  </div>
</template>
<script>
export default {
  data() {
    return {
      notifications: [
        {
          title: "Rozetka.Ru | Дизайн",
          text: "Требуется утверждение: Дизайн первой страницы",
          icon_style: {
            background:
              "url('/images/hummer32x32.svg') no-repeat center center",
            width: "32px",
            height: "32px",
          },
          time: "21:30",
        },
        {
          title: "Rozetka.Ru | Дизайн",
          text: "Завершенно: Функциональная карта для мобильного приложения",
          icon_style: {
            background:
              "url('/images/greenCheckmark32x32.svg') no-repeat center center",
            width: "32px",
            height: "32px",
          },
          time: "Вчера",
        },
        {
          title: "Rozetka.Ru | Дизайн",
          text: "Внесите предоплату для начала выполнения проекта",
          icon_style: {
            background:
              "url('/images/redCross32x32.svg') no-repeat center center",
            width: "32px",
            height: "32px",
          },
          time: "21 марта",
        },
      ],
    };
  },
  computed: {
    isShowing() {
      return this.$store.state.components.showNotification;
    },
  },
};
</script>
<style scoped>
.container {
  display: none;
  position: absolute;
  top: 89px;
  left: 0;
  background: #fff;
  height: calc(100% - 89px * 2);
  width: 100%;
  overflow-x: auto;
  z-index: 15;
}
.header-title {
  padding: 24px 18px;
  position: relative;
  /* border-bottom: 1px solid rgba(196, 196, 196, 0.15); */
}
.header-title::after {
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  /* width: calc(100% - 18px); */
  content: "";
  /* padding: 24px 18px; */
  border-bottom: 1px solid rgba(196, 196, 196, 0.15);
}
.is-showing {
  display: block;
}
.main {
  padding: 0 18px;
}
.notification-item {
  display: grid;
  grid-template-areas:
    "icon title time"
    "icon text time";
  grid-template-columns: 56px 1fr auto;

  padding: 1.5em 0 1.5em 0;
  border-bottom: 1px solid rgba(196, 196, 196, 0.15);
}
.notification-item__title {
  grid-area: title;
}
.notification-item__text {
  grid-area: text;
}
.notification-item__time {
  grid-area: time;
  display: flex;
  justify-content: flex-end;
}
.notification-item__icon {
  grid-area: icon;
}
</style>