<template>
  <div>
    <div class="task-item" :style="[width, style]">
      <div class="task-background"></div>
      <div class="task-container">
        <div class="task__left-side">
          <div class="task-item__title body-text">{{ title }}</div>
          <div class="task-item__hashtags">
            <div
              class="body-text hashtag"
              v-for="hashtag in hashtags"
              :key="hashtag.id"
            >
              {{ hashtag }}
            </div>
          </div>
        </div>
        <div class="task__right-side">
          <div class="checkmark" v-if="progress == 100"></div>
          <div class="hummer" v-else-if="color == 'is-warning waiting'"></div>
          <div class="progress body-text" v-else>{{ progress }}%</div>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      style: "",
    };
  },
  props: {
    width: Object,
    title: String,
    hashtags: Array,
    progress: Number,
    color: String,
  },

  methods: {
    Color: function () {
      switch (this.color) {
        case "is-error":
          this.style = {
            background: `linear-gradient(to right, #FF9393  ${this.progress}%, #fff 0%)`,
          };
          break;
        case "is-warning":
          this.style = {
            background: `linear-gradient(to right, #FFF0C9   ${this.progress}%, #fff 0%)`,
          };
          break;
        case "is-warning waiting":
          this.style = {
            background: `linear-gradient(to right, #FFF0C9   100%, #fff 0%)`,
          };
          break;
        default:
          this.style = {
            background: `linear-gradient(to right, #C2F7CF  ${this.progress}%, #fff 0%)`,
          };
          break;
      }
      if (this.progress == 0) {
        this.style = {
          background: `linear-gradient(to right, rgba(255, 147, 147, 0.5)  9px, #fff 0%)`,
        };
      }
    },
  },

  mounted() {
    this.Color();
  },
};
</script>
<style scoped>
.task-item {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  /* background: linear-gradient(to right, #c2f7cf 60%, #fff 0%); */
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}
.task-background {
  background: #c2f7cf;
  height: 100%;
  width: 20%;
}
.task-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.task__left-side {
  display: flex;
  flex-direction: column;
}
.task-item__hashtags {
  word-break: break-all;
}
.task__right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
.progress {
  padding: 0 0.25em;
  background: #fff;
  border-radius: 0.25em;
}
.checkmark {
  background: url("/images/checkmark.svg") no-repeat center center;
  width: 1em;
  height: 1em;
}
.hummer {
  background: url("/images/hummer16x16.svg") no-repeat center center;
  width: 1em;
  height: 1em;
}
</style>