<template>
  <div class="wrapper">
    <div class="date-container">
      <div v-for="month in dates" :key="month.id" class="date-section">
        <div class="date-section__lable">
          <div class="subtitle">{{ month.month }} {{ month.year }}</div>
        </div>
        <div class="date-section__dates">
          <div v-for="date in month.days" :key="date.id" class="item">
            <div class="item__lable">
              <div class="subtitle is-tertiary">{{ date.day_txt }}</div>
              <div class="">{{ date.day }}</div>
            </div>
            <div
              class="item__table"
              :class="[
                {
                  week_end: date.date.getDay() == 6 || date.date.getDay() == 0,
                },
                '',
              ]"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="gantt-wrapper">
      <div id="gantt" class="gantt">
        <task
          v-for="task in tasks"
          :key="task.id"
          :style="task.paddingLeft_styleObj"
          :width="task.width_styleObj"
          :title="task.title"
          :hashtags="task.hashtags"
          :progress="task.progress"
          :color="task.color"
          class="gantt__task"
        ></task>
      </div>
    </div>
    <div class="information-section">
      <div class="information__container">
        <div class="information__container--header">
          <div class="information__container--header__arrows">
            <div class="arrow-reverse_6-12"></div>
            <div class="arrow_6-12"></div>
          </div>
          <div class="information__container--header__title subtitle">
            Мобильное приложение | Rozetka.Ru
          </div>
        </div>
        <div class="information__container--picture">
          <div class="information__container--picture-item">
            <div class="information__container--picture-item-phone"></div>
          </div>
        </div>
        <div class="information__container--circle">
          <circle-progressbar />
        </div>
        <div class="line"></div>
        <div class="information__container--manager">
          <div class="information__container--manager__button">
            <div class="manager--icon"></div>
            <div class="manager--name subtitle">Лера Кербина</div>
            <div class="manager--job body-text is-secondary">Ваш Менеджер</div>
            <div class="manager__message-icon">
              <div class="manager__message-icon img">
                <img src="/images/message.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="information__container--buttons subheader">
          <div class="information__container--buttons__button button">
            Ускорить проект
          </div>
          <div class="information__container--buttons__button button">
            Добавить правки
          </div>
        </div>
      </div>
      <notifications />
    </div>
  </div>
</template>

<script>
import Task from "@/components/Task.vue";
import CircleProgressbar from "@/components/CircleProgressbar.vue";
import Notifications from "@/components/Notifications.vue";
export default {
  components: { Task, CircleProgressbar, Notifications },
  data() {
    return {
      table_date_start: "2021-2",
      dates: [],
      tasks: [
        {
          title: "Создание фирменного стиля",
          hashtags: ["#Дизайн"],
          progress: 85,
          start_day: "2021-2-4",
          end_day: "2021-2-11",
        },
        {
          title: "Вёрстка первой версии",
          hashtags: ["#Программирование", "#Разработка"],
          //progress: 7,
          start_day: "2021-2-7",
          end_day: "2021-2-14",
          color: "is-warning waiting",
        },
        {
          title: "Дизайн мобильной версии",
          hashtags: ["#Дизайн", "#Программирование"],
          progress: 100,
          start_day: "2021-2-2",
          end_day: "2021-2-10",
          color: "",
        },
        {
          title: "Разработка ИИ",
          hashtags: ["#Программирование"],
          progress: 0,
          start_day: "2021-2-13",
          end_day: "2021-2-23",
          color: "is-error",
        },
      ],
    };
  },
  mounted() {
    this.InitialiseTimeline();
    this.InitialiseTasks();
  },
  updated() {
    this.BlockAlignment();
  },
  methods: {
    DayDifference: (start, end) => {
      let daysLag = Math.ceil(
        (new Date(end).getTime() - new Date(start).getTime()) /
          (1000 * 3600 * 24)
      );
      return daysLag;
    },

    BlockAlignment: function () {
      let parent = document.querySelector("#gantt").getBoundingClientRect()
        .height;
      document.getElementsByClassName("item__table").forEach((e) => {
        e.style.height = `calc(${parent}px)`;
      });
    },

    InitialiseTasks: function () {
      let tasks = this.tasks;
      for (let i = 0; i < tasks.length; i++) {
        let width = this.DayDifference(tasks[i].start_day, tasks[i].end_day);
        let left_space = this.DayDifference(
          this.table_date_start,
          tasks[i].start_day
        );
        if (width <= 0) {
          width = 0;
          left_space = 0;
        }
        let width_styleObj = {
          width: `calc(2.5em * ${width} - 1em)`,
        };
        let paddingLeft_styleObj = {
          paddingLeft: `calc(2.5em * ${left_space})`,
        };
        tasks[i].width_styleObj = width_styleObj;
        tasks[i].paddingLeft_styleObj = paddingLeft_styleObj;
      }
    },

    InitialiseTimeline: function () {
      let q = new Date(this.table_date_start);
      let d = new Date();

      let days = ["ВС", "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ"];
      let months = [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь",
      ];
      while (q.getTime() < d.getTime()) {
        let cur_month = {
          month: months[q.getMonth()],
          year: q.getFullYear(),
          days: [],
        };

        function addDateAndGetMonth(e) {
          e.setDate(e.getDate() + 1);
          return e.getMonth();
        }

        let dtxt = days[q.getDay()];
        cur_month.days.push({
          date: new Date(
            q.getFullYear() + "-" + (q.getMonth() + 1) + "-" + q.getDate()
          ),
          dt: `${q.getDate()}.${q.getMonth() + 1}.${q.getFullYear()}`,
          day: q.getDate(),
          day_txt: dtxt,
        });

        while (q.getMonth() == addDateAndGetMonth(q)) {
          let dtxt = days[q.getDay()];
          cur_month.days.push({
            date: new Date(
              q.getFullYear() + "-" + (q.getMonth() + 1) + "-" + q.getDate()
            ),
            dt: `${q.getDate()}.${q.getMonth() + 1}.${q.getFullYear()}`,
            day: q.getDate(),
            day_txt: dtxt,
          });
        }
        this.dates.push(cur_month);
      }
    },
  },
};
</script>

<style scoped>
.information__container--buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  padding: 0 2rem 2.5rem 2rem;
}
.information__container--buttons .button {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
}
.information-section {
  position: fixed;
  right: 0;
  height: 100%;
  width: 30em;
  top: 0px;
  padding-top: 89px;
  box-shadow: 0px 0px 28px 0px rgb(0 0 0 / 8%);
}

.information__container--manager {
  padding: 2.5em 2em;
}
.information__container--manager__button {
  background: #b7ddff;
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: 76px 1fr 32px;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    "icon name button"
    "icon job button";
  padding: 0.5em 1em;
}
.manager--icon {
  background: url("/images/manager.svg");
  width: 60px;
  height: 60px;
  grid-area: icon;
}
.manager--name {
  grid-area: name;
  display: flex;
  align-items: flex-end;
}
.manager--job {
  grid-area: job;

  display: flex;
  align-items: flex-start;
}
.manager__message-icon {
  grid-area: button;
  width: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}
.manager__message-icon .img {
  /* background: url("/images/message.png") 20%; */
  width: 24px;
  height: 24px;
  position: relative;
}
.manager__message-icon .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.information__container--header {
  height: 2.75em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25em;
  padding: 1.75em 1.25em 0 1.25em;
}
.information__container--header__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.information__container--picture {
  padding: 0 1.5em;
}
.information__container--picture-item {
  /* background: linear-gradient(111.34deg, #ffdf37 0%, #ffee94 100%); */
  background: linear-gradient(111.34deg, #37ff57 0%, #94ffd2 100%);
  border-radius: 0.625em;
  height: 17em;
  width: 27em;
}
.information__container--picture-item-phone {
  background: url("/images/Home.svg") no-repeat center center;
  /* height: 17em;
  width: 27em; */
  height: 100%;
  width: 100%;
}
.information__container--circle {
  padding: 2.5em 0;
  display: flex;
  justify-content: center;
}
.information__container {
  background: #fff;
  height: calc(100% - 89px);
  overflow-x: auto;
}
.gantt {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 7.875em;
}
.gantt__task {
  padding-top: 0.25em;
}
.gantt__item {
  display: flex;
  padding: 0.25em 0;
}

.gantt__item-content {
  background: rgba(255, 110, 110, 0.89);
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  display: flex;
  /* padding: 1em; */
}

.gaant__item-text {
}
.gaant__item-buttons {
}

.wrapper {
  /* min-height: 100vh; */
  min-width: 100vw;
  overflow-y: auto;
  position: relative;
  height: calc(100vh - 5.5em - 1px);
}
.header-row {
  height: 3.75em;
  padding: 1em 2.5em;
  display: flex;
  align-items: flex-end;
}
.date-container {
  display: flex;
  /* flex-direction: column; */
}
.date-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
}
.date-section__lable {
  height: 2.75em;
  padding: 1em 2.5em;
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: -1em;
}
.date-section__dates {
  display: flex;
  position: relative;
}
.item {
  display: block;
  text-align: center;
  width: 2.5em;
}
.item__lable {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.625em;
  position: sticky;
  top: 3.75em;
}
.item__table {
  min-height: calc(100vh - 5.5em - 1px - 7.875em);
}
.week_end {
  background: #f4f4f4;
}
</style>
