<template>
  <div>
    <h1>H1 Lorem</h1>
    <h2>H2 Lorem</h2>
    <h3>H3 lorem</h3>
    <div class="subheader">Subheader Lorem</div>
    <div class="subtitle">Subtitle Lorem</div>
    <p>P (body-text) Lorem</p>
    <div class="caption">Caption Lorem</div>

    <div class="nav">
      <div class="logo"></div>
      <div class="btn-section">
        <button class="button is-error" disabled>Default</button>
        <button class="button is-success">Default</button>
        <button class="button is-warning">Default</button>
        <button class="button is-outlined" disabled>Default</button>
        <button class="button">Default</button>

        <button
          v-for="button in buttons"
          :key="button.id"
          :class="button.class"
          :style="button.style"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buttons: [
        {
          class: "button is-icon",
          style: {
            background: "url('/images/bell.svg') no-repeat center",
          },
        },
        {
          class: "button is-icon",
          style: {
            background: "url('/images/bell.svg') no-repeat center",
          },
        },
        {
          class: "button is-icon",
          style: {
            background: "url('/images/settings.svg') no-repeat center",
          },
        },
        {
          class: "button is-icon",
          style: {
            background: "url('/images/settings.svg') no-repeat center",
          },
        },
      ],
    };
  },
};
</script>

<style scoped>
.nav {
  display: flex;
  /* padding: 24px 32px; */
  padding: 1.5em 2em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.logo {
  background-image: url("/images/F.svg");
  width: 32px;
  height: 40px;
}
.btn-section {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
</style>
